.holder{
    max-width: 100vw;
    height: 100%;
    background-image: url("https://s3.us-east-2.amazonaws.com/thebandavd/Selection_004.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: $secondaryfont;
    .gifholder{
        height: 800px;
        width: 100%;
        background-image: url("./assets/AVDgif.gif");
        background-size: cover;
        background-position: center;
    }
    .whitebar{
        height: 3px;
        width: 100%;
        background-color: white;
    }
}