.bignav{
    position: fixed;
    top: 0;
    z-index: 1;
    height: 50px; 
    width: 100%;
    font-size: 30px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border-top: 2px black solid;
    border-bottom: 2px black solid;
    font-family: $secondaryfont;
    .navbuttonholder{
        width: 80%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .lilnav{
            text-decoration: none;
            color: black;
            cursor: pointer;
        }
    }
}