.TDholder{
    width: 95%;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    color: #1a1a1a;
    .dateandplaceholder{
        width: 27%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .date{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .datenumber{
                font-size: 40px;
                margin-right: 5px;
                transform: translateY(-8px)
            }
            .datemonth{
                font-weight: bold;
            }
        }
        .venue{
            font-weight: bold;
        }
    }
    .tourbutton{
        border: 2px #1a1a1a solid;
        padding: 20px 50px;
        border-radius: 3px;
        cursor: pointer;
        transition: all .3s ease;
        &:hover{
            background-color: #1a1a1a;
            color: #DADADA;
            transition: all .3s ease;
        }
    }

}