@import url("https://fonts.googleapis.com/css?family=Oswald:300");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

.holder {
  max-width: 100vw;
  height: 100%;
  background-image: url("https://s3.us-east-2.amazonaws.com/thebandavd/Selection_004.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: "Oswald", sans-serif; }
  .holder .gifholder {
    height: 800px;
    width: 100%;
    background-image: url("./assets/AVDgif.gif");
    background-size: cover;
    background-position: center; }
  .holder .whitebar {
    height: 3px;
    width: 100%;
    background-color: white; }

.light {
  position: fixed;
  top: 0;
  z-index: 1;
  height: 50px;
  width: 100%;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px black solid;
  border-bottom: 2px black solid;
  font-family: "Oswald", sans-serif;
  background-image: url("https://s3.us-east-2.amazonaws.com/thebandavd/Selection_004.png");
  transition: all 1.5s ease; }
  .light .navbuttonholder {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .light .navbuttonholder .lilnav {
      text-decoration: none;
      color: black;
      cursor: pointer; }

.dark {
  position: fixed;
  top: 0;
  z-index: 1;
  height: 50px;
  width: 100%;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px white solid;
  border-bottom: 2px white solid;
  font-family: "Oswald", sans-serif;
  background-image: url("https://s3.us-east-2.amazonaws.com/thebandavd/graybackground.jpg");
  transition: all 1.5s ease; }
  .dark .navbuttonholder {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .dark .navbuttonholder .lilnav {
      text-decoration: none;
      color: white;
      cursor: pointer; }

.bandholder {
  width: 100vw;
  height: 800px;
  padding-top: 10px;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  font-family: "Oswald", sans-serif;
  color: white;
  position: relative; }
  .bandholder .modalholder {
    position: absolute; }
  .bandholder .bandtitle {
    font-weight: bold;
    font-size: 80px; }
  .bandholder .infoholder {
    width: 70%;
    text-align: left;
    font-size: 20px; }
  .bandholder .bandimgholder {
    height: 320px;
    width: 640px;
    background-color: white;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px; }
    .bandholder .bandimgholder .bandimg {
      height: 97%;
      width: 97%;
      border-radius: 15px; }
  .bandholder .bandbutton {
    border: 2px solid white;
    border-radius: 2px;
    padding: 15px;
    transition: all .5s ease;
    cursor: pointer;
    margin-bottom: 10px; }
    .bandholder .bandbutton:hover {
      background-color: white;
      color: #1a1a1a;
      transition: all .5s ease; }

.lilmenuwrap {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2;
  color: white;
  transform: translate(-30px, -20px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  cursor: pointer;
  float: right;
  transition: all 1s ease; }
  .lilmenuwrap .lilmenuitems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; }
    .lilmenuwrap .lilmenuitems .lilnav {
      text-decoration: none;
      color: white;
      font-size: 30px;
      margin-bottom: 5px; }
      .lilmenuwrap .lilmenuitems .lilnav:hover {
        color: #bfbfbf; }
  .lilmenuwrap .biglilmenu {
    font-size: 40px; }
    .lilmenuwrap .biglilmenu:hover {
      color: #bfbfbf; }

.gone {
  opacity: 0;
  transition: all 1s ease;
  color: white; }

.footer {
  height: 350px;
  width: 100%;
  background-color: #1a1a1a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-image: url("https://s3.us-east-2.amazonaws.com/thebandavd/AvonDaleBnWCeiling.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center; }
  .footer .logoholder {
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .footer .logoholder .logofooter {
      height: 50%;
      width: auto; }
    .footer .logoholder .socialmediaholder {
      width: 35%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 10px; }
      .footer .logoholder .socialmediaholder .smicon {
        font-size: 35px;
        cursor: pointer;
        color: white; }
        .footer .logoholder .socialmediaholder .smicon:hover {
          color: #bfbfbf; }
  .footer .emailholder {
    height: 100%;
    text-align: center;
    width: 32%;
    padding: 20px;
    margin-right: 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
    .footer .emailholder .emailtitle {
      font-weight: bold;
      font-size: 30px; }
    .footer .emailholder .emailwords {
      color: white; }
    .footer .emailholder .nameinput {
      width: 90%;
      font-size: 20px;
      padding: 10px;
      border-radius: 3px; }
    .footer .emailholder .emailinput {
      font-size: 20px;
      padding: 10px;
      border-radius: 3px;
      width: 90%; }
    .footer .emailholder .subscribebutton {
      padding: 10px;
      border-radius: 3px;
      border: white 2px solid;
      font-size: 20px;
      width: 90%;
      transition: all .5s ease;
      cursor: pointer; }
      .footer .emailholder .subscribebutton:hover {
        background-color: white;
        color: black;
        transition: all .5s ease; }

.bandinfoholder {
  border: 4px #1a1a1a solid;
  height: 500px;
  width: 1000px;
  background-color: white;
  border-radius: 5px;
  overflow: auto;
  padding: 30px; }

.memberholder {
  height: 420px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Oswald", sans-serif;
  margin: 0; }
  .memberholder .memberphoto {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .memberholder .memberphoto .memberimg {
      height: 90%;
      width: auto; }
  .memberholder .memberinfo {
    height: 80%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; }
    .memberholder .memberinfo .memberjob {
      flex: 1;
      color: #1a1a1a;
      font-size: 20px; }
    .memberholder .memberinfo .membername {
      flex: 2;
      color: black;
      font-size: 50px; }
    .memberholder .memberinfo .memberbio {
      flex: 5;
      color: #1a1a1a;
      font-size: 15px; }

.memberholderflip {
  height: 420px;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  font-family: "Roboto Mono";
  margin: 0; }
  .memberholderflip .memberphoto {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .memberholderflip .memberphoto .memberimg {
      height: 90%;
      width: auto; }
  .memberholderflip .memberinfo {
    height: 80%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; }
    .memberholderflip .memberinfo .memberjob {
      flex: 1;
      color: #1a1a1a;
      font-size: 20px; }
    .memberholderflip .memberinfo .membername {
      flex: 2;
      color: black;
      font-size: 50px; }
    .memberholderflip .memberinfo .memberbio {
      flex: 5;
      color: #1a1a1a;
      font-size: 15px; }

.tourholder {
  width: 100vw;
  height: 1000px;
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: #EFFCFA;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  font-family: "Oswald", sans-serif;
  color: #1a1a1a;
  position: relative; }
  .tourholder .tourtitle {
    font-size: 60px;
    font-weight: bold; }
  .tourholder .tourdateholder {
    width: 80%;
    height: 85%; }
    .tourholder .tourdateholder .toursubtitle {
      font-size: 20px; }
    .tourholder .tourdateholder .dateholder {
      width: 100%;
      height: 95%;
      overflow: auto; }

.bighero {
  width: 100%;
  height: auto;
  margin-top: 54px; }
  .bighero .biglogo {
    height: auto;
    max-width: 100%;
    margin: auto; }

.bigmedia {
  height: 100%;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .bigmedia .title {
    font-size: 60px;
    font-weight: bold; }
  .bigmedia .toggles {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: space-around; }
    .bigmedia .toggles .togglebutton {
      margin-right: 10px;
      font-size: 25px; }
      .bigmedia .toggles .togglebutton:hover {
        color: gray;
        cursor: pointer; }
    .bigmedia .toggles .togglebuttonselected {
      margin-right: 10px;
      font-size: 25px;
      color: #EBFDFA; }
      .bigmedia .toggles .togglebuttonselected:hover {
        color: lightgray;
        cursor: pointer; }
  .bigmedia .mediaholder {
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px; }
    .bigmedia .mediaholder .mediamusic {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: space-between; }
      .bigmedia .mediaholder .mediamusic .newmusic {
        flex: 1;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .bigmedia .mediaholder .mediamusic .newmusic .covertitle {
          font-size: 40px;
          font-weight: bold;
          margin-bottom: 20px; }
        .bigmedia .mediaholder .mediamusic .newmusic .newmusicholder {
          height: 100%;
          width: 100%;
          display: flex; }
          .bigmedia .mediaholder .mediamusic .newmusic .newmusicholder .coverholder {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center; }
            .bigmedia .mediaholder .mediamusic .newmusic .newmusicholder .coverholder .cover {
              max-height: 500px;
              max-width: auto; }
      .bigmedia .mediaholder .mediamusic .oldmusic {
        flex: 1;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .bigmedia .mediaholder .mediamusic .oldmusic .covertitle {
          font-size: 40px;
          font-weight: bold;
          margin-bottom: 20px; }
        .bigmedia .mediaholder .mediamusic .oldmusic .oldmusicholder {
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: space-around;
          align-items: center; }
          .bigmedia .mediaholder .mediamusic .oldmusic .oldmusicholder .coverholder {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center; }
            .bigmedia .mediaholder .mediamusic .oldmusic .oldmusicholder .coverholder .lilcover {
              max-height: 250px;
              max-width: auto;
              margin-bottom: 20px; }
    .bigmedia .mediaholder .mediavideos {
      height: 100%;
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center; }
      .bigmedia .mediaholder .mediavideos .videorow {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between; }
        .bigmedia .mediaholder .mediavideos .videorow .video1 {
          padding: 20px 0px 10px 0px;
          overflow: hidden; }
        .bigmedia .mediaholder .mediavideos .videorow .video2 {
          padding: 10px 0px 20px 0px; }
