@import url("https://fonts.googleapis.com/css?family=Oswald:300");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

.holder {
  max-width: 100vw;
  height: 100%;
  background-image: url("https://s3.us-east-2.amazonaws.com/thebandavd/Selection_004.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: "Oswald", sans-serif; }
  .holder .gifholder {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center; }
    .holder .gifholder .thegif {
      width: 100vw;
      height: auto; }
  .holder .whitebar {
    height: 3px;
    width: 100%;
    background-color: white;
    margin-top: -1px; }

.light {
  position: fixed;
  top: 0;
  z-index: 1;
  height: 50px;
  width: 100%;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px black solid;
  border-bottom: 2px black solid;
  font-family: "Oswald", sans-serif;
  background-image: url("https://s3.us-east-2.amazonaws.com/thebandavd/Selection_004.png");
  transition: all 1.5s ease; }
  .light .navbuttonholder {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    @media screen and (max-width: 700px) {
      .light .navbuttonholder {
        display: none; } }
    .light .navbuttonholder .lilnav {
      text-decoration: none;
      color: black;
      cursor: pointer;
      transition: all .25s ease; }
      .light .navbuttonholder .lilnav:hover {
        color: #7a7a7a;
        transition: all .25s ease; }
  .light .mobilenav {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    transition: all 1.5s ease; }
    .light .mobilenav .mobiletitle {
      color: black; }
    .light .mobilenav .hamburger {
      border: 1px black solid;
      padding: 7px;
      cursor: pointer; }
    .light .mobilenav .dropdown {
      position: absolute;
      right: 0;
      transform: translate(0px, 52px);
      height: 100%;
      transition: all 1s ease; }
      .light .mobilenav .dropdown .dholder {
        padding: 5px;
        transition: all 1.5s ease;
        background-image: url("https://s3.us-east-2.amazonaws.com/thebandavd/Selection_004.png"); }
        .light .mobilenav .dropdown .dholder .navwords {
          padding: 5px; }
          .light .mobilenav .dropdown .dholder .navwords .lilnav {
            text-decoration: none;
            color: black;
            cursor: pointer;
            transition: all .25s ease;
            margin-right: 15px; }
            .light .mobilenav .dropdown .dholder .navwords .lilnav:hover {
              color: #b8b8b8;
              transition: all .25s ease; }
    @media screen and (min-width: 700px) {
      .light .mobilenav {
        display: none; } }
    .light .mobilenav .dropdownno {
      position: absolute;
      right: 0;
      transform: translate(145px, 52px);
      height: 100%;
      transition: all 1.5s ease; }
      .light .mobilenav .dropdownno .dholder {
        padding: 5px;
        transition: all 1.5s ease;
        background-image: url("https://s3.us-east-2.amazonaws.com/thebandavd/Selection_004.png"); }
        .light .mobilenav .dropdownno .dholder .navwords {
          padding: 5px; }
          .light .mobilenav .dropdownno .dholder .navwords .lilnav {
            text-decoration: none;
            color: black;
            cursor: pointer;
            transition: all .25s ease;
            margin-right: 15px; }
            .light .mobilenav .dropdownno .dholder .navwords .lilnav:hover {
              color: #b8b8b8;
              transition: all .25s ease; }
    @media screen and (min-width: 700px) {
      .light .mobilenav {
        display: none; } }

.dark {
  position: fixed;
  top: 0;
  z-index: 1;
  height: 50px;
  width: 100%;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px white solid;
  border-bottom: 2px white solid;
  font-family: "Oswald", sans-serif;
  background-image: url("https://s3.us-east-2.amazonaws.com/thebandavd/graybackground.jpg");
  transition: all 1s ease; }
  .dark .navbuttonholder {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    @media screen and (max-width: 700px) {
      .dark .navbuttonholder {
        display: none; } }
    .dark .navbuttonholder .lilnav {
      text-decoration: none;
      color: white;
      cursor: pointer;
      transition: all .25s ease; }
      .dark .navbuttonholder .lilnav:hover {
        color: #b8b8b8;
        transition: all .25s ease; }
  .dark .mobilenav {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    transition: all 1.5s ease; }
    .dark .mobilenav .mobiletitle {
      color: white; }
    .dark .mobilenav .hamburger {
      border: 1px white solid;
      padding: 7px;
      cursor: pointer; }
    .dark .mobilenav .dropdown {
      position: absolute;
      right: 0;
      transform: translate(0px, 52px);
      height: 100%;
      transition: all 1s ease; }
      .dark .mobilenav .dropdown .dholder {
        padding: 5px;
        transition: all 1.5s ease;
        background-image: url("https://s3.us-east-2.amazonaws.com/thebandavd/graybackground.jpg"); }
        .dark .mobilenav .dropdown .dholder .navwords {
          padding: 5px; }
          .dark .mobilenav .dropdown .dholder .navwords .lilnav {
            text-decoration: none;
            color: white;
            cursor: pointer;
            transition: all .25s ease;
            margin-right: 15px; }
            .dark .mobilenav .dropdown .dholder .navwords .lilnav:hover {
              color: #b8b8b8;
              transition: all .25s ease; }
    @media screen and (min-width: 700px) {
      .dark .mobilenav {
        display: none; } }
    .dark .mobilenav .dropdownno {
      position: absolute;
      right: 0;
      transform: translate(145px, 52px);
      height: 100%;
      transition: all 1.5s ease; }
      .dark .mobilenav .dropdownno .dholder {
        padding: 5px;
        transition: all 1.5s ease;
        background-image: url("https://s3.us-east-2.amazonaws.com/thebandavd/graybackground.jpg"); }
        .dark .mobilenav .dropdownno .dholder .navwords {
          padding: 5px; }
          .dark .mobilenav .dropdownno .dholder .navwords .lilnav {
            text-decoration: none;
            color: white;
            cursor: pointer;
            transition: all .25s ease;
            margin-right: 15px; }
            .dark .mobilenav .dropdownno .dholder .navwords .lilnav:hover {
              color: #b8b8b8;
              transition: all .25s ease; }
    @media screen and (min-width: 700px) {
      .dark .mobilenav {
        display: none; } }

.bandholder {
  width: 100vw;
  height: 100%;
  padding-top: 10px;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  font-family: "Oswald", sans-serif;
  color: white;
  position: relative; }
  .bandholder .modalholder {
    position: absolute; }
  .bandholder .bandtitle {
    font-weight: bold;
    font-size: 80px;
    text-align: center; }
    @media screen and (max-width: 700px) {
      .bandholder .bandtitle {
        font-size: 55px; } }
  .bandholder .infoholder {
    width: 70%;
    text-align: left;
    font-size: 20px; }
    @media screen and (max-width: 700px) {
      .bandholder .infoholder {
        font-size: 15px; } }
  .bandholder .bandimgholder {
    height: 320px;
    width: 640px;
    background-color: white;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px; }
    @media screen and (max-width: 700px) {
      .bandholder .bandimgholder {
        height: 180px;
        width: 320px; } }
    .bandholder .bandimgholder .bandimg {
      height: 97%;
      width: 97%;
      border-radius: 15px; }
  .bandholder .bandbutton {
    border: 2px solid white;
    border-radius: 2px;
    padding: 15px;
    transition: all .5s ease;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 20px; }
    .bandholder .bandbutton:hover {
      background-color: white;
      color: #1a1a1a;
      transition: all .5s ease; }

.lilmenuwrap {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2;
  color: white;
  transform: translate(-30px, -20px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  cursor: pointer;
  float: right;
  transition: all 1s ease; }
  .lilmenuwrap .lilmenuitems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; }
    .lilmenuwrap .lilmenuitems .lilnav {
      text-decoration: none;
      color: white;
      font-size: 30px;
      margin-bottom: 5px; }
      .lilmenuwrap .lilmenuitems .lilnav:hover {
        color: #bfbfbf; }
  .lilmenuwrap .biglilmenu {
    font-size: 40px; }
    .lilmenuwrap .biglilmenu:hover {
      color: #bfbfbf; }

.gone {
  opacity: 0;
  transition: all 1s ease;
  color: white; }

.footer {
  height: 100%;
  width: 100%;
  background-color: #1a1a1a;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  background-image: url("https://s3.us-east-2.amazonaws.com/thebandavd/forest2.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  font-family: "Oswald", sans-serif; }
  .footer .logoholder {
    flex: 6;
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    @media screen and (max-width: 1230px) and (min-width: 500px) {
      .footer .logoholder {
        flex: 4; } }
    @media screen and (max-width: 500px) {
      .footer .logoholder {
        height: 230px; } }
    .footer .logoholder .logofooter {
      height: 50%;
      width: auto; }
    .footer .logoholder .socialmediaholder {
      min-width: 300px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 10px; }
      .footer .logoholder .socialmediaholder .smicon {
        font-size: 35px;
        cursor: pointer;
        color: white; }
        .footer .logoholder .socialmediaholder .smicon:hover {
          color: #bfbfbf; }
  .footer .emailholder {
    flex: 3;
    height: 350px;
    width: 90%;
    text-align: center;
    max-width: 650px;
    padding: 20px;
    margin-right: 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
    @media screen and (max-width: 1080px) and (min-width: 591px) {
      .footer .emailholder {
        margin-right: 0px; } }
    @media screen and (max-width: 590px) {
      .footer .emailholder {
        height: 300px;
        margin-right: 0px; } }
    .footer .emailholder .emailtitle {
      font-weight: bold;
      font-size: 40px; }
      @media screen and (max-width: 590px) {
        .footer .emailholder .emailtitle {
          font-size: 30px; } }
    .footer .emailholder .emailwords {
      text-align: center;
      color: white;
      font-size: 20px; }
      @media screen and (max-width: 590px) {
        .footer .emailholder .emailwords {
          font-size: 15px; } }
    .footer .emailholder .emailform {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 70%;
      width: 500px; }
      @media screen and (max-width: 590px) {
        .footer .emailholder .emailform {
          width: 300px; } }
      .footer .emailholder .emailform .nameinputholder {
        display: flex;
        justify-content: space-between;
        width: 100%; }
        .footer .emailholder .emailform .nameinputholder .nameinput {
          width: 200px;
          font-size: 20px;
          padding: 10px;
          border-radius: 3px; }
          @media screen and (max-width: 590px) {
            .footer .emailholder .emailform .nameinputholder .nameinput {
              font-size: 15px;
              padding: 5px;
              width: 120px; } }
      .footer .emailholder .emailform .emailinput {
        font-size: 20px;
        padding: 10px;
        border-radius: 3px;
        width: 475px; }
        @media screen and (max-width: 590px) {
          .footer .emailholder .emailform .emailinput {
            font-size: 15px;
            padding: 5px;
            width: 285px; } }
      .footer .emailholder .emailform .subscribebutton {
        padding: 10px 7px;
        border-radius: 3px;
        border: white 2px solid;
        font-size: 25px;
        width: 500px !important;
        transition: all .5s ease;
        cursor: pointer;
        background: none;
        color: white;
        margin: 0px !important;
        font-family: "Oswald", sans-serif !important; }
        .footer .emailholder .emailform .subscribebutton:hover {
          background-color: white;
          color: black;
          transition: all .5s ease; }
        @media screen and (max-width: 590px) {
          .footer .emailholder .emailform .subscribebutton {
            font-size: 20px;
            padding: 6px 3px;
            width: 295px !important; } }

.bandinfoholder {
  border: 4px #1a1a1a solid;
  height: 500px;
  width: 1000px;
  background-color: white;
  border-radius: 5px;
  overflow: auto;
  padding: 30px; }
  @media screen and (max-width: 700px) {
    .bandinfoholder {
      height: 555px;
      width: 100vw;
      transform: translateY(-45px); } }

.memberholder {
  height: 420px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Oswald", sans-serif;
  margin: 0; }
  @media screen and (max-width: 700px) {
    .memberholder {
      height: 250px; } }
  .memberholder .memberphoto {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; }
    .memberholder .memberphoto .memberimg {
      height: 90%;
      width: auto; }
  .memberholder .memberinfo {
    height: 80%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 20px; }
    .memberholder .memberinfo .memberjob {
      flex: 1;
      color: #1a1a1a;
      font-size: 20px; }
    .memberholder .memberinfo .membername {
      flex: 2;
      color: black;
      font-size: 50px; }
      @media screen and (max-width: 700px) {
        .memberholder .memberinfo .membername {
          font-size: 40px; } }
    .memberholder .memberinfo .memberbio {
      flex: 5;
      color: #1a1a1a;
      font-size: 15px; }

.memberholderflip {
  height: 420px;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  font-family: "Oswald", sans-serif;
  margin: 0; }
  @media screen and (max-width: 700px) {
    .memberholderflip {
      height: 250px; } }
  .memberholderflip .memberphoto {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; }
    .memberholderflip .memberphoto .memberimg {
      height: 90%;
      width: auto; }
  .memberholderflip .memberinfo {
    height: 80%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; }
    @media screen and (max-width: 700px) {
      .memberholderflip .memberinfo {
        align-items: flex-end; } }
    .memberholderflip .memberinfo .memberjob {
      flex: 1;
      color: #1a1a1a;
      font-size: 20px; }
      @media screen and (max-width: 700px) {
        .memberholderflip .memberinfo .memberjob {
          margin-right: 20px; } }
    .memberholderflip .memberinfo .membername {
      flex: 2;
      color: black;
      font-size: 50px; }
      @media screen and (max-width: 700px) {
        .memberholderflip .memberinfo .membername {
          text-align: center;
          margin-right: 20px;
          font-size: 40px; } }

.tourholder {
  width: 100vw;
  height: 1000px;
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: #EFFCFA;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  font-family: "Oswald", sans-serif;
  color: #1a1a1a;
  position: relative; }
  .tourholder .tourtitle {
    font-size: 60px;
    font-weight: bold; }
  .tourholder .tourdateholder {
    width: 80%;
    height: 85%; }
    .tourholder .tourdateholder .toursubtitle {
      font-size: 20px; }
    .tourholder .tourdateholder .dateholder {
      width: 100%;
      height: 95%;
      overflow: auto; }

.bighero {
  width: 100%;
  height: auto;
  margin-top: 54px; }
  .bighero .biglogo {
    height: auto;
    max-width: 100%;
    margin: auto; }

.bigmedia {
  height: 100%;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .bigmedia .title {
    font-size: 70px;
    font-weight: bold; }
  .bigmedia .toggles {
    width: 80%;
    display: flex;
    justify-content: center; }
    .bigmedia .toggles .togglebutton {
      margin-right: 10px;
      font-size: 35px;
      align-items: space-around;
      margin-top: 20px; }
      @media screen and (max-width: 700px) {
        .bigmedia .toggles .togglebutton {
          font-size: 25px; } }
      .bigmedia .toggles .togglebutton:hover {
        color: gray;
        cursor: pointer; }
    .bigmedia .toggles .togglebuttonselected {
      margin-right: 10px;
      font-size: 35px;
      margin-top: 20px;
      color: #EBFDFA; }
      @media screen and (max-width: 700px) {
        .bigmedia .toggles .togglebuttonselected {
          font-size: 25px; } }
      .bigmedia .toggles .togglebuttonselected:hover {
        color: lightgray;
        cursor: pointer; }
  .bigmedia .mediaholder {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 40px 0px 40px; }
    .bigmedia .mediaholder .mediamusic {
      height: 100%;
      width: 100vw;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
      .bigmedia .mediaholder .mediamusic .newmusic {
        flex: 1;
        height: 100%;
        min-width: 701px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
        margin-left: 15px; }
        @media screen and (max-width: 1015px) {
          .bigmedia .mediaholder .mediamusic .newmusic {
            min-width: 100%; } }
        .bigmedia .mediaholder .mediamusic .newmusic .covertitle {
          font-size: 40px;
          font-weight: bold;
          margin-bottom: 20px;
          text-align: center;
          padding-right: 25px; }
        .bigmedia .mediaholder .mediamusic .newmusic .newmusicholder {
          height: 100%;
          min-width: 100%;
          display: flex;
          justify-content: space-around;
          align-items: center;
          flex-direction: row;
          flex-wrap: wrap;
          margin-right: 25px;
          padding: 5px; }
          .bigmedia .mediaholder .mediamusic .newmusic .newmusicholder .coverholder {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-bottom: 5px; }
            .bigmedia .mediaholder .mediamusic .newmusic .newmusicholder .coverholder .cover {
              max-height: 450px;
              max-width: auto; }
              @media screen and (max-width: 800px) {
                .bigmedia .mediaholder .mediamusic .newmusic .newmusicholder .coverholder .cover {
                  max-height: 400px; } }
      .bigmedia .mediaholder .mediamusic .oldmusic {
        flex: 1;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 15px;
        margin-left: -30px; }
        @media screen and (max-width: 1015px) {
          .bigmedia .mediaholder .mediamusic .oldmusic {
            margin-right: 0px;
            margin-left: 0px; } }
        .bigmedia .mediaholder .mediamusic .oldmusic .covertitle {
          font-size: 40px;
          font-weight: bold;
          margin-bottom: 20px;
          text-align: center; }
        .bigmedia .mediaholder .mediamusic .oldmusic .oldmusicholder {
          min-height: 100%;
          width: 100%;
          display: flex;
          justify-content: space-around;
          align-items: center;
          flex-wrap: wrap; }
          .bigmedia .mediaholder .mediamusic .oldmusic .oldmusicholder .coverholder {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center; }
            .bigmedia .mediaholder .mediamusic .oldmusic .oldmusicholder .coverholder .lilcover {
              max-height: 200px;
              max-width: 200px;
              margin: 10px 0px; }
              .bigmedia .mediaholder .mediamusic .oldmusic .oldmusicholder .coverholder .lilcover:hover {
                cursor: pointer; }
            @media screen and (max-width: 1230px) and (min-width: 1015px) {
              .bigmedia .mediaholder .mediamusic .oldmusic .oldmusicholder .coverholder .lilcover {
                display: none; } }
    .bigmedia .mediaholder .mediavideos {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center; }
      .bigmedia .mediaholder .mediavideos .video {
        padding: 10px;
        overflow: hidden; }
    .bigmedia .mediaholder .photoholder {
      max-height: 100%;
      width: 1400px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center; }
